<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Telephone</th>
            <th>Birthdate</th>
            <th>Citizen Card</th>
            <th>Fiscal Number</th>
            <th>Social Security Number</th>
            <th>Insurance Number</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients">
            <td>{{ patient.name }}</td>
            <td>{{ patient.phoneNumber }}</td>
            <td>{{ patient.birthdate }}</td>
            <td>{{ patient.citizenCard }}</td>
            <td>{{ patient.fiscalNumber }}</td>
            <td>{{ patient.socialSecurityNumber }}</td>
            <td>{{ patient.insuranceNumber }}</td>
            <td class="center" [routerLink]="['/patients/', patient.id]"><img src="https://img.icons8.com/edit/FFFFFF"></td>
            <td class="center" (click)="deletePatient(patient.id)"><img src="https://img.icons8.com/delete-forever--v1/FFFFFF"></td>
        </tr>
    </tbody>
</table>