form {
  margin: auto;

  .left {
    width: 40%;
    margin-left: 10%;
    float: left;

    .label {
      height: 6vh;
      line-height: 6vh;
      text-align: right;
      padding-right: 1vw;
    }
  }

  .right {
    width: 40%;
    float: left;

    .input {
      height: 6vh;
      display: flex;
      align-items: center;
      padding-left: 1vw;

      input {
        width: 9vw;
      }
    }
  }

  .buttons {
    clear: both;
    margin: auto;
    padding-top: 3vh;
    text-align: center;
  }
}
